<%= render "layouts/message" %>
<%= form_for [:admin, @article], html: {class: "form-article"} do |f| %>
  <div class="row">
    <div class="col-sm-4 form-left">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_area :title, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, required: true,
          class: "form-control article-description" %>
      </div>

      <div class="form-group">
        <%= f.label :background_picture %>
        <% if @article.images.first.present? %>
          <%= image_tag @article.images.first.picture, class: "img-responsive" %>
          <%= f.fields_for :images do |ff| %>
            <%= ff.file_field :picture %>
          <% end %>
        <% else %>
          <%= f.fields_for :images do |ff| %>
            <%= ff.file_field :picture, required: true %>
          <% end %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :time_show %>
        <select name="time_show">
          <option value="1">Now</option>
          <option value="2">Choose time</option>
        </select>
        <script type="text/javascript">
          $("time_show").change(function() {

          });
        </script>
      </div>


      <div class="form-group">
        <%= f.submit class: "btn btn-success form-control" %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "ckeditor form-control" %>
      </div>
    </div>
  </div>
<% end %>
