<%= form_for @user_presenter.new_language do |f| %>
  <div class="row language-form">
    <div class="col-md-2"><%= t ".language" %></div>
    <div class="col-md-10">
      <%= f.autocomplete_field :name, autocomplete_language_name_users_path,
        'data-auto-focus' => true, class: "form-control", id: "language-name" %>
    </div>
  </div>

  <div class="row language-form">
    <div class="col-md-2"><%= t "experience.level" %></div>
    <div class="col-md-10">
      <%= f.fields_for :user_languages, @user_presenter.new_user_language,
        class: "form-control" do |t| %>
        <%= t.select :level, UserLanguage.levels.keys, {},
          {class: "form_control select-language", id: "language-level"} %>
      <% end %>
    </div>
  </div>

  <%= render "shared/group_buttons" %>
<% end %>
