<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-md-5">
        <div>
            <%= render "articles/sort" %>
          </div>
        <div>
          <% if @total %>
            <h2><%= t ".found_results", total: @total %></h2>
          <% end %>
        </div>
      </div>
      <div class="col-sm-11 list-article">
        <%= render "articles/article" %>
      </div>
      <div class="col-sm-11 pagination-article">
        <%= render "articles/paginate" %>
      </div>
      <div class="new-article">
        <%= link_to new_employer_company_article_path(@company),
          class: "btn btn-primary btn-circle btn-xl" do %>
            <i class="glyphicon glyphicon-plus" title="New Aticle"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
